[Unit]
Description=Redirus service responsible for creating/deleting subdomain redirections.
Wants=nginx-redirus.service
After=nginx-redirus.service

[Service]
User=redirus
ExecStart=/usr/bin/redirus -c /opt/redirus/resources/config.yml
KillMode=process
StandardOutput=syslog                                                             
StandardError=syslog             
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target


